apiVersion: v1
kind: PersistentVolumeClaim

metadata:
  name: minio-pv-claim
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: "{{ .Values.minio.resources.storage }}"
